.App {
  display: inline-block;
  background: white;
  padding: 8px;
  transition: all 0.5s ease;
}

.AppBorder {
  display: inline-block;
  padding: 8px;
  background: linear-gradient(#0000FF, #7FFFD4);
  margin: 1rem;
  transition: all 0.5s ease;
}

.Header {
  margin: 0 2rem;
  text-align: center;
}

.App > div {
  animation: appear 0.5s 1;
}

@keyframes borderAnimation {
  0% {

  }
}

@keyframes appear {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}